
@{
    ViewBag.Title = "Error";
}


<style>
    .error-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }

    .error-title {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .error-message {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    .error-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .error-buttons .btn {
            margin-right: 1rem;
            font-size: 1.2rem;
        }
</style>


<div class="error-container">
    <h2 class="error-title">Oops, ha ocurrido un error</h2>
    <p class="error-message">Lo sentimos, algo salió mal en la página que estabas intentando acceder.</p>
    <div class="error-buttons">
        <a href="/" class="btn btn-primary">Regresar al inicio</a>
    </div>
</div>