<style>
    .sb-nav-link-icon {
        width: 24px;
        height: 24px;
        font-size: 1.25rem;
    }

    a.nav-link {
        text-decoration: none !important;
    }

    .nav a.nav-link {
        margin-bottom: 2px;
    }
</style>

<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Example text</div>
            <div class="sb-sidenav-menu-heading">Listados</div>
            @Html.Partial("Components/Lists/ResidenciasComponent")
            @Html.Partial("Components/Lists/EstadosCuentaComponent")
            @Html.Partial("Components/Lists/PlanCobroComponent")
            @Html.Partial("Components/Lists/RubrosCobrosComponent")
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        Start Bootstrap
    </div>
</nav>