USE [master]
GO
/****** Object:  Database [CONDOMINIOS]    Script Date: 09/03/2023 06:23:55 p. m. ******/
CREATE DATABASE [CONDOMINIOS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CONDOMINIOS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CONDOMINIOS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CONDOMINIOS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CONDOMINIOS_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CONDOMINIOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CONDOMINIOS]
GO
/****** Object:  Table [dbo].[AREA_COMUN]    Script Date: 09/03/2023 06:23:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AREA_COMUN](
	[ID_AREA_COMUN] [int] IDENTITY(1,1) NOT NULL,
	[AREA_COMUN] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_AREA_COMUN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO_DEUDA]    Script Date: 09/03/2023 06:23:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO_DEUDA](
	[ID_ESTADO_DEUDA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_ESTADO_DEUDA] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO_DEUDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO_INCIDENCIA]    Script Date: 09/03/2023 06:23:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO_INCIDENCIA](
	[ID_ESTADO_INCIDENCIA] [int] IDENTITY(1,1) NOT NULL,
	[ESTADO_INCIDENCIA] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO_INCIDENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO_RESERVACION]    Script Date: 09/03/2023 06:23:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO_RESERVACION](
	[ID_ESTADO_RESERVACION] [int] IDENTITY(1,1) NOT NULL,
	[ESTADO_RESERVACION] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO_RESERVACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO_RESIDENCIA]    Script Date: 09/03/2023 06:23:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO_RESIDENCIA](
	[ID_ESTADO_RESIDENCIA] [int] IDENTITY(1,1) NOT NULL,
	[ESTADO_RESIDENCIA] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO_RESIDENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO_USUARIO]    Script Date: 09/03/2023 06:23:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO_USUARIO](
	[ID_ESTADO] [int] IDENTITY(1,1) NOT NULL,
	[ESTADO] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GESTION_DEUDA]    Script Date: 09/03/2023 06:23:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GESTION_DEUDA](
	[ID_GESTION_DEUDA] [int] IDENTITY(1,1) NOT NULL,
	[ID_RESIDENCIA] [int] NOT NULL,
	[ID_PLAN_COBRO] [int] NULL,
	[MES] [int] NOT NULL,
	[ANIO] [int] NOT NULL,
	[MONTO] [decimal](18, 2) NOT NULL,
	[FECHA_VENCIMIENTO] [datetime] NOT NULL,
	[ID_ESTADO_DEUDA] [int] NOT NULL,
	[DETALLES_RUBROS] [varchar](50) NOT NULL,
	[FECHA_REGISTRO] [datetime] NOT NULL,
	[FECHA_PAGO] [datetime] NOT NULL,
	[TOTALPAGAR] [decimal](18, 0) NULL,
 CONSTRAINT [PK__GESTION___27696502B343BBA3] PRIMARY KEY CLUSTERED 
(
	[ID_GESTION_DEUDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GESTION_PLANES_COBRO]    Script Date: 09/03/2023 06:23:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GESTION_PLANES_COBRO](
	[ID_PLAN_COBRO] [int] NOT NULL,
	[ID_RESIDENTE] [int] NOT NULL,
	[FECHA_INICIO] [date] NULL,
	[FECHA_FIN] [date] NULL,
	[MONTO] [decimal](10, 2) NOT NULL,
	[FRECUENCIA_COBRO] [varchar](20) NOT NULL,
	[ESTADO_COBRO] [varchar](20) NOT NULL,
 CONSTRAINT [PK__GESTION___F5C38D7221605CE8] PRIMARY KEY CLUSTERED 
(
	[ID_PLAN_COBRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INCIDENCIA]    Script Date: 09/03/2023 06:23:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INCIDENCIA](
	[ID_INCIDENCIA] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[ID_ESTADO_INCIDENCIA] [int] NOT NULL,
	[DESCRIPCION] [varchar](50) NOT NULL,
	[FECHA_CREACION] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_INCIDENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTICIA]    Script Date: 09/03/2023 06:23:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTICIA](
	[ID_NOTICIA] [int] IDENTITY(1,1) NOT NULL,
	[ID_TIPO_NOTICIA] [int] NOT NULL,
	[TITULO] [varchar](100) NOT NULL,
	[CONTENIDO] [varchar](500) NOT NULL,
	[FECHA_PUBLICACION] [datetime] NOT NULL,
 CONSTRAINT [PK__NOTICIA__C7B7B09BE99CC216] PRIMARY KEY CLUSTERED 
(
	[ID_NOTICIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLAN_COBRO]    Script Date: 09/03/2023 06:23:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAN_COBRO](
	[ID_PLAN_COBRO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_PLAN] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PLAN_COBRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLAN_COBRO_RUBRO_COBRO]    Script Date: 09/03/2023 06:23:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAN_COBRO_RUBRO_COBRO](
	[ID_PLAN_COBRO] [int] NOT NULL,
	[ID_RUBRO_COBRO] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REPORTES]    Script Date: 09/03/2023 06:23:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPORTES](
	[ID_REPORTE] [int] NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[report_type_id] [int] NOT NULL,
	[report_date] [date] NOT NULL,
	[report_data] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_REPORTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESERVA_AREA_COMUN]    Script Date: 09/03/2023 06:23:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVA_AREA_COMUN](
	[ID_RESERVA_AREA_COMUN] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[ID_AREA_COMUN] [int] NOT NULL,
	[FECHA_RESERVA] [datetime] NOT NULL,
	[HORA_INICIO] [datetime] NOT NULL,
	[HORA_FIN] [datetime] NOT NULL,
	[ID_ESTADO_RESERVACION] [int] NOT NULL,
	[COMENTARIOS] [varchar](50) NOT NULL,
	[FECHA_CREACION] [datetime] NOT NULL,
	[FECHA_ACTUALIZACION] [datetime] NOT NULL,
	[CREADO_POR] [int] NOT NULL,
	[ACTUALIZADO_POR] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_RESERVA_AREA_COMUN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESERVACION]    Script Date: 09/03/2023 06:23:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVACION](
	[ID_RESERVACION] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[ID_AREA_COMUN] [int] NOT NULL,
	[ID_ESTADO_RESERVACION] [int] NOT NULL,
	[FECHA_RESERVACION] [datetime] NOT NULL,
	[FECHA_CREACION] [datetime] NOT NULL,
	[FECHA_FIN_RESERVACION] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_RESERVACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESIDENCIA]    Script Date: 09/03/2023 06:23:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESIDENCIA](
	[ID_RESIDENCIA] [int] IDENTITY(1,1) NOT NULL,
	[ID_ESTADO_RESIDENCIA] [int] NOT NULL,
	[NUMERO_RESIDENCIA] [int] NOT NULL,
	[CANTIDAD_PERSONAS] [int] NOT NULL,
	[ANIO_INICIO] [int] NOT NULL,
	[CANTIDAD_CARROS] [int] NOT NULL,
	[ID_USUARIO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_RESIDENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RUBRO_COBRO]    Script Date: 09/03/2023 06:23:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RUBRO_COBRO](
	[ID_RUBRO_COBRO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_RUBRO] [varchar](50) NOT NULL,
	[MONTO] [decimal](18, 2) NOT NULL,
	[IMAGEN] [varbinary](max) NULL,
	[DESCRIPCION] [varchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_RUBRO_COBRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_NOTICIA]    Script Date: 09/03/2023 06:23:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_NOTICIA](
	[ID_TIPO_NOTICIA] [int] IDENTITY(1,1) NOT NULL,
	[TIPO_NOTICIA_INFO] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_NOTICIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_REPORTE]    Script Date: 09/03/2023 06:23:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_REPORTE](
	[TIPO_REPORTE_ID] [int] NOT NULL,
	[NOMBRE_REPORTE] [varchar](50) NOT NULL,
	[DESCRIPCIÓN_REPORTE] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TIPO_REPORTE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_USUARIO]    Script Date: 09/03/2023 06:23:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_USUARIO](
	[ID_TIPO_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[TIPO_USUARIO] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 09/03/2023 06:23:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[ID_TIPO_USUARIO] [int] NOT NULL,
	[ID_ESTADO] [int] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[CORREO] [varchar](50) NOT NULL,
	[CONTRASENA] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GESTION_DEUDA] ADD  CONSTRAINT [DF__GESTION_D__FECHA__5CD6CB2B]  DEFAULT (getdate()) FOR [FECHA_REGISTRO]
GO
ALTER TABLE [dbo].[INCIDENCIA] ADD  DEFAULT (getdate()) FOR [FECHA_CREACION]
GO
ALTER TABLE [dbo].[NOTICIA] ADD  CONSTRAINT [DF__NOTICIA__FECHA_P__5EBF139D]  DEFAULT (getdate()) FOR [FECHA_PUBLICACION]
GO
ALTER TABLE [dbo].[RESERVA_AREA_COMUN] ADD  DEFAULT (getdate()) FOR [FECHA_CREACION]
GO
ALTER TABLE [dbo].[RESERVA_AREA_COMUN] ADD  DEFAULT (getdate()) FOR [FECHA_ACTUALIZACION]
GO
ALTER TABLE [dbo].[RESERVACION] ADD  DEFAULT (getdate()) FOR [FECHA_CREACION]
GO
ALTER TABLE [dbo].[GESTION_DEUDA]  WITH CHECK ADD  CONSTRAINT [FK__GESTION_D__ID_ES__628FA481] FOREIGN KEY([ID_ESTADO_DEUDA])
REFERENCES [dbo].[ESTADO_DEUDA] ([ID_ESTADO_DEUDA])
GO
ALTER TABLE [dbo].[GESTION_DEUDA] CHECK CONSTRAINT [FK__GESTION_D__ID_ES__628FA481]
GO
ALTER TABLE [dbo].[GESTION_DEUDA]  WITH CHECK ADD  CONSTRAINT [FK__GESTION_D__ID_RE__6383C8BA] FOREIGN KEY([ID_RESIDENCIA])
REFERENCES [dbo].[RESIDENCIA] ([ID_RESIDENCIA])
GO
ALTER TABLE [dbo].[GESTION_DEUDA] CHECK CONSTRAINT [FK__GESTION_D__ID_RE__6383C8BA]
GO
ALTER TABLE [dbo].[GESTION_DEUDA]  WITH CHECK ADD  CONSTRAINT [FK_GESTION_DEUDA_PLAN_COBRO] FOREIGN KEY([ID_PLAN_COBRO])
REFERENCES [dbo].[PLAN_COBRO] ([ID_PLAN_COBRO])
GO
ALTER TABLE [dbo].[GESTION_DEUDA] CHECK CONSTRAINT [FK_GESTION_DEUDA_PLAN_COBRO]
GO
ALTER TABLE [dbo].[GESTION_PLANES_COBRO]  WITH CHECK ADD  CONSTRAINT [FK__GESTION_P__ID_RE__6477ECF3] FOREIGN KEY([ID_RESIDENTE])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[GESTION_PLANES_COBRO] CHECK CONSTRAINT [FK__GESTION_P__ID_RE__6477ECF3]
GO
ALTER TABLE [dbo].[INCIDENCIA]  WITH CHECK ADD FOREIGN KEY([ID_ESTADO_INCIDENCIA])
REFERENCES [dbo].[ESTADO_INCIDENCIA] ([ID_ESTADO_INCIDENCIA])
GO
ALTER TABLE [dbo].[INCIDENCIA]  WITH CHECK ADD FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[NOTICIA]  WITH CHECK ADD  CONSTRAINT [FK__NOTICIA__ID_TIPO__6754599E] FOREIGN KEY([ID_TIPO_NOTICIA])
REFERENCES [dbo].[TIPO_NOTICIA] ([ID_TIPO_NOTICIA])
GO
ALTER TABLE [dbo].[NOTICIA] CHECK CONSTRAINT [FK__NOTICIA__ID_TIPO__6754599E]
GO
ALTER TABLE [dbo].[PLAN_COBRO_RUBRO_COBRO]  WITH CHECK ADD FOREIGN KEY([ID_PLAN_COBRO])
REFERENCES [dbo].[PLAN_COBRO] ([ID_PLAN_COBRO])
GO
ALTER TABLE [dbo].[PLAN_COBRO_RUBRO_COBRO]  WITH CHECK ADD FOREIGN KEY([ID_RUBRO_COBRO])
REFERENCES [dbo].[RUBRO_COBRO] ([ID_RUBRO_COBRO])
GO
ALTER TABLE [dbo].[REPORTES]  WITH CHECK ADD FOREIGN KEY([ID_REPORTE])
REFERENCES [dbo].[TIPO_REPORTE] ([TIPO_REPORTE_ID])
GO
ALTER TABLE [dbo].[REPORTES]  WITH CHECK ADD FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[RESERVA_AREA_COMUN]  WITH CHECK ADD FOREIGN KEY([ID_AREA_COMUN])
REFERENCES [dbo].[AREA_COMUN] ([ID_AREA_COMUN])
GO
ALTER TABLE [dbo].[RESERVA_AREA_COMUN]  WITH CHECK ADD FOREIGN KEY([ID_ESTADO_RESERVACION])
REFERENCES [dbo].[ESTADO_RESERVACION] ([ID_ESTADO_RESERVACION])
GO
ALTER TABLE [dbo].[RESERVA_AREA_COMUN]  WITH CHECK ADD FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[RESERVACION]  WITH CHECK ADD FOREIGN KEY([ID_AREA_COMUN])
REFERENCES [dbo].[AREA_COMUN] ([ID_AREA_COMUN])
GO
ALTER TABLE [dbo].[RESERVACION]  WITH CHECK ADD FOREIGN KEY([ID_ESTADO_RESERVACION])
REFERENCES [dbo].[ESTADO_RESERVACION] ([ID_ESTADO_RESERVACION])
GO
ALTER TABLE [dbo].[RESERVACION]  WITH CHECK ADD FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[RESIDENCIA]  WITH CHECK ADD FOREIGN KEY([ID_ESTADO_RESIDENCIA])
REFERENCES [dbo].[ESTADO_RESIDENCIA] ([ID_ESTADO_RESIDENCIA])
GO
ALTER TABLE [dbo].[RESIDENCIA]  WITH CHECK ADD FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADO_USUARIO] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([ID_TIPO_USUARIO])
REFERENCES [dbo].[TIPO_USUARIO] ([ID_TIPO_USUARIO])
GO
USE [master]
GO
