@model IEnumerable<Infraestructure.Model.GESTION_DEUDA>

<h2>Deudas vigentes</h2>

<table class="table">
    <thead>
        <tr>
            <th>Mes</th>
            <th>Plan de cobro</th>
            <th>Total a pagar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var deuda in Model)
        {
            <tr>
                <td>@System.Globalization.DateTimeFormatInfo.CurrentInfo.GetMonthName(deuda.MES) @deuda.ANIO</td>
                <td>@deuda.RESIDENCIA.PLAN_COBRO.NOMBRE_PLAN</td>
                <td>@(deuda.TOTALPAGAR.HasValue ? deuda.TOTALPAGAR.Value.ToString("C2") : "")</td>
            </tr>
        }
    </tbody>
</table>