@model IEnumerable<Infraestructure.Model.RUBRO_COBRO>

@{
    ViewBag.Title = "Index";
}

<style>
    .circle-img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .service-header {
        background-color: #007BFF;
        color: #FFF;
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 5px;
        text-align: center;
    }

    .card {
        border: none;
        border-radius: 5px;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    }

    .card-body {
        padding: 1rem;
        height: 200px;
        overflow: hidden;
    }

    .centered-text {
        text-align: center;
    }

    .italic-text {
        font-style: italic;     
    }
    
</style>

<h2>Index</h2>



<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 mb-4">
            <div class="card" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);">
                <div style="display: flex; align-items: center">
                  
                        <img src="data:image/jpg;charset=utf-8;base64,@Convert.ToBase64String(item.IMAGEN)" alt="Imagen @Html.DisplayFor(modelItem => item.NOMBRE_RUBRO)" class="circle-img" />
                        <div class="service-header  text-center">@Html.DisplayFor(modelItem => item.NOMBRE_RUBRO)</div>
                </div>
                <div class="card-body">
                    <p class="card-text">@Html.DisplayFor(modelItem => item.DESCRIPCION)</p>
                    <h5 class="card-title italic-text">Monto: @Html.DisplayFor(modelItem => item.MONTO) $</h5>
                </div>
            </div>
        </div>
    }
</div>