<a class="nav-link" href="#residencias" data-toggle="collapse" aria-expanded="false" style="text-decoration:none;">
    <div class="d-flex align-items-center">
        <i class="fas fa-file-invoice-dollar mr-2"></i>
        <span class="nav-link-text text-white">@Html.ActionLink("Planes de cobro", "Index", "PlanCobro")</span>
    </div>
</a>