<a class="nav-link" href="#residencias" data-toggle="collapse" aria-expanded="false" style="text-decoration:none;">
    <div class="d-flex align-items-center">
        <i class="fas fa-home mr-2"></i>
        <span class="nav-link-text text-white">@Html.ActionLink("Residencias", "Index", "Residencia")</span>
    </div>
</a>